@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Order Confirmed";
}


<section class="section" id="kids">
    <section class="section" id="kids">
    <div class="untree_co-section before-footer-section">
        <div class="container">
            <h3 style="position: center">Your order confirmed successfully </h3>
            <h1 style="position: center">Thank You</h1>

            <a asp-controller="Home" asp-action="Products">Shop more</a>
        </div>
    </div>
</section>
</section>